body{background-image : url(backphoto.jpg); background-attachment:fixed;} 

h2{font-family:sans-serif;  color:navy; font-size:30px; text-align:center; font-style:norma; font-variant:normal;}

h5{color: black; font-size: 20px; font-style:italic; font-variant:normal; font-weight: bold;  }


.contact_us_title {color:red; font-size:28px; font-style:oblique; font-variant:normal;}

.contact_us_content {color:black ; font-size:20px;  font-style:italic; font-variant:normal;   }

.contact_title {text-decoration:underline; }